* {
  box-sizing: border-box;
}

body {
  background-color: #5b6c6e;
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.input {
  width: 80%;
  height: 16px;
  padding: 8px;
}

.js-span {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin: 10px auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-around;
  padding: 12px;
  border-radius: 8px;
  transition: box-shadow 0.3s;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo-card {
  flex-basis: calc((100% - 12px * 2) / 3);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
  position: relative;
}

.photo-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Задайте фіксовану висоту для поля з описом */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-align: center;
  border-radius: 0 0 8px 8px;
}

.photo-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

.photo-card a {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.photo-card a img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px 8px 0 0;
  transition: transform 0.3s;
}

.photo-card a:hover img {
  transform: scale(1.1);
}

@media screen and (min-width: 668px) {
  .photo-card {
    flex-basis: calc((100% - 12px * 2) / 3);
  }
}

@media screen and (min-width: 1158px) {
  .photo-card {
    flex-basis: calc((100% - 24px * 2) / 3);
  }
}
