* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 448px;
  padding: 0 15px;
  margin: 0 auto;
}

.js-span {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin: 10px auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  padding: 12px;
  border-radius: 8px;
  transition: box-shadow 0.3s;
}

.photo-card {
  flex-basis: calc((100% - 12px) / 2);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
}

.photo-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

.photo-card a {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.photo-card a img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px 8px 0 0;
  transition: transform 0.3s;
}

.photo-card a:hover img {
  transform: scale(1.1);
}

.search-form {
  margin: 0 auto;
  display: flex;
  margin-bottom: 16px;

  justify-content: center;
}
input {
  width: 100%;
  padding: 8px;
}

.info {
  display: flex;
  gap: 8px;
  color: #ddd;
  padding: 8px;
  border-radius: 0 0 8px 8px;
}

.info p:hover {
  color: #9fbddc;
}

@media screen and (min-width: 668px) {
  .photo-card {
    flex-basis: calc((100% - 12px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .photo-card {
    flex-basis: calc((100% - 24px) / 3);
  }
}
